@import "tailwindcss";

@theme {
  --color-background: #FFFFFF;
  --color-foreground: #333333;
  --color-primary: #EEEEEE;

  --font-primary: var(--font-manrope);
  --font-secondary: var(--font-sora);
}

@layer base {
  body {
    @apply bg-background text-foreground select-none;
  }
}

@layer components {
  .navbar {
    @apply flex justify-between py-5 px-4 md:px-8 lg:px-12 items-center border-b-2 border-b-primary;
  }

  .navbar > ul {
    @apply flex gap-10;
  }

  .dropdown {
    @apply absolute lg:relative flex flex-col lg:flex-row gap-8 text-2xl lg:text-xl font-bold font-primary [&>:first-child]:pt-32 lg:[&>:first-child]:pt-0 px-4 md:px-8;
  }

    .btn-primary {
        @apply bg-primary text-lg font-semibold font-secondary px-3 py-2 rounded-lg;
    }

    .btn-secondary {
        @apply bg-foreground text-background text-lg font-semibold font-secondary px-3 py-2 rounded-lg;
    }
}